.dashboard {
  .statistique {
    display: flex;
    gap: 30px;
    margin-top: 70px;
    .charts {
      max-width: 835px;
    }
    .keydata {
      width: 33%;
      display: flex;
      gap: 40px;
      flex-direction: column;
    }
  }
}
